.env
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.rag_db/

*/app/logs/*.log

.DS_Store
Thumbs.db

models/agents/*
models/embeddings/*
!models/agents/.gitkeep
!models/embeddings/.gitkeep

data/csv/*
data/pdf/*
data/md/*
data/txt/*
!data/csv/.gitkeep
!data/pdf/.gitkeep
!data/md/.gitkeep
!data/txt/.gitkeep

.idea/
*.swp
*.swo

build/
dist/
*.egg-info/
.pytest_cache/
.coverage
